/* Document
  Section 1-3 referenced modern-normalize rules for CSS
  modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize
  =========================================================================== */
/**
* Macros to import pixel-styled fonts.
*/
@font-face {
  font-family: 'pixel_04b03';
  src: url(assets/04B03REV.TTF);
  font-weight: normal;
  font-size: normal
}
@font-face {
  font-family: 'pixel_highlight';
  src: url(assets/04B_30_.TTF);
  font-weight: normal;
  font-size: normal
}
/* Section 1
   ========================================================================== */
/**
/* Use a better box model (opinionated). */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Use a more readable tab size (opinionated).*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
  1. Correct the line height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  3. Use a more readable tab size (opinionated).
*/
html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-moz-tab-size: 4; /* 3 */
	tab-size: 4; /* 3 */
}
/**
 * Remove the margin in all browsers. + Improve consistency of default fonts in all browsers.
 */
body {
   font-family: 'pixel_04b03';
   margin: 0;
}

h1 {
  font-family: 'pixel_highlight';
}
/* Section 2 - Text-level
   ========================================================================== */
/* Add the correct text decoration in Chrome, Edge, and Safari. */
abbr[title] {
  text-decoration: underline dotted;
}
/* Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
  font-weight: bolder;
}
/**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: 'pixel_04b03';
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Section 3 - Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/* Correct the inability to style clickable types in iOS and Safari. */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/* Remove the inner border and padding in Firefox. */
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
/* Restore the focus styles unset by the previous rule. */
:-moz-focusring {
	outline: 1px dotted ButtonText;
}
/**
  Remove the additional ':invalid' styles in Firefox.
  See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
	box-shadow: none;
}
/* Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend {
  padding: 0;
}
/* Add the correct vertical alignment in Chrome and Firefox. */
progress {
  vertical-align: baseline;
}
/* Correct the cursor style of increment and decrement buttons in Safari. */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/* Remove the inner padding in Chrome and Safari on macOS. */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Section 4 - Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
}
html {
  font-size: 58%;
}
body {
  color: rgba(0, 0, 0, 0.86);
  font-family: 'pixel_04b03';
  letter-spacing: 0.05em;
}
a {
  color: rgba(0, 0, 0, 0.98);
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #006CFF;
}
body,
div,
a,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background: #DAF1EC;
}
.main .main-content {
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-header {
  padding: 48px 0;
  text-align: center;
  background: url('assets/header_big.png');
  background-size: cover;
}
.site-header .site-title {
  font-size: 32px;
  font-weight: bold;
}
.site-header .site-description {
  font-size: 16px;
  padding: 24px;
  color: #495057;
  font-weight: normal;
}
.site-header .menu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.site-header .menu-container a.menu {
  font-size: 16px;
  padding: 8px 16px;
  flex-shrink: 0;
  font-weight: 600;
}
.site-header .avatar {
  margin-bottom: 24px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.site-header .social-container {
  padding: 16px;
  font-size: 18px;
}
.site-header .social-container a {
  margin: 4px 8px;
  color: #868e96;
}
@media (max-width: 600px) {
  .site-header {
    padding: 24px 0 0;
  }
  .site-header .avatar {
    width: 80px;
    height: 80px;
  }
}
.menu-container {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 1rem 0 0;
	padding: 0;
	display: flex;
}
.menu-container li {
  list-style: none;
}
.menu-container li a {
	position: relative;
	display: block;
	padding: 10px 20px;
	margin: 0;
	text-decoration: none;
	text-transform: uppercase;
	color: #262626;
	font-weight: bold;
	transition: .5s;
}
.menu-container li a:hover{
	color: #fff;
}
.menu-container li a:after{
	content: '';
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transform: scale(0);
	transition: 0.5s;
	z-index: -1;
}
.menu-container li a:hover:after{
	transform: scale(0.8, 0.8);
}
.post-container {
  flex: 1;
  padding: 0 32px;
}
.post-container .post {
  padding-bottom: 32px;
}
.post-container .post .post-title {
  font-size: 28px;
  text-align: center;
  padding: 24px 0;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.post-container .post .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-container .post .post-info > span {
  color: #5E5E5E;
}
.post-container .post .post-info > span:not(:first-child):before {
  content: "/ ";
  font-size: 10px;
  color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
.post-container .post .post-info .post-tag {
  padding: 8px 8px;
}
.post-container .post .post-feature-image {
  display: block;
  width: 100%;
  padding-top: 32.6%;
  border-radius: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
}
.post-container .post .post-feature-image img {
  width: 100%;
}
.post-container .post .post-feature-image:hover {
  transform: scale(1.0082);
}
.post-container .post .post-info {
  font-weight: bolder;
}
.post-container .post .post-abstract {
  padding: 24px 0;
  line-height: 1.5;
  font-size: 16px;
}
.post-container .post .post-abstract strong {
  font-weight: bolder;
}
.post-container .post .post-abstract a {
  color: #006CFF;
  transition: all 0.3s;
}
.post-container .post .post-abstract a:hover {
  color: #0061e6;
  border-bottom: 1px dotted #0061e6;
}
.post-container .post .post-abstract code {
  font-family: monospace;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px;
  line-height: initial;
  word-wrap: break-word;
  text-indent: 0;
}
.pagination-container {
  padding: 32px 16px;
  overflow: hidden;
}
.pagination-container .prev-page {
  float: left;
}
.pagination-container .next-page {
  float: right;
}
.pagination-container .prev-page,
.pagination-container .next-page {
  padding: 6px 12px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.pagination-container .prev-page:hover,
.pagination-container .next-page:hover {
  border-bottom: 2px solid;
}
@media (max-width: 600px) {
  .post-container .post {
    padding: 16px 16px;
  }
  .post-container .post .post-title {
    padding: 16px 0;
    font-size: 24px;
  }
  .post-container .post .post-abstract {
    padding: 16px 0;
  }
  .post-container .post .post-feature-image {
    padding-top: 56.25%;
  }
}
.site-footer {
  font-size: 12px;
  text-align: center;
  padding: 40px 24px;
  color: #FF00FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#author-link {
  width:100%;
  margin:0 auto;
  padding:5px;
  font-weight:normal;
  text-align:right;
}
.facebook-buttons {
  width:100%;
  margin:0 auto;
  padding:5px;
  text-align:left;
}
.fb-button {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
}
/* saved for later use
.rss {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}
*/
